@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO EURO2020</h1>
    <p class="lead">EURO 2020: All you need to know about the tournament</p>
</div>

<div>
    <h2>About Tournament</h2>
    <p>
        <b>What are the key dates?</b>
    <p>The final tournament dates are 11 June to 11 July 2021.</p></br>

    <b>How does the group stage look?</b>
    <p>
        Group A: Turkey, Italy, Wales, Switzerland<br />

        Group B: Denmark, Finland, Belgium, Russia<br />

        Group C: Netherlands, Ukraine, Austria, North Macedonia<br />

        Group D: England, Croatia, Scotland, Czech Republic<br />

        Group E: Spain, Sweden, Poland, Slovakia<br />

        Group F: Hungary, Portugal, France, Germany.<br />
    </p>

    <b>Who are the hosts?</b>
    <p>UEFA EURO 2020 is being held across the continent for the first time in the competition's 60-year history, with 11 host cities in all.</p></br>

    <b>Final and semi-finals, two round of 16 games, three group games</b>
    <p>London, England: Wembley Stadium</p></br>

    <b>Six group games, one quarter-final</b>
    <p> Saint Petersburg, Russia: Saint Petersburg Stadium</p></br>

    <b>Three group games, one quarter-final</b>
    <p>
        Baku, Azerbaijan: Baku Olympic Stadium<br />
        Munich, Germany: Football Arena Munich<br />
        Rome, Italy: Olimpico in Rome<br />
    </p></br>

    <b>What is the tournament format?</b>
    <p>
        The format will be the same as for UEFA EURO 2016. The top two in each of the six final tournament groups will proceed to the round of 16 along with the four best third-placed finishers.</p></br>

    <b>Who is the mascot?</b>
    <p> Skillzy, a larger-than-life character inspired by freestyling, street and panna culture.</p></br>

    </p>
</div>