@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO EURO2020</h1>
    <p class="lead">EURO 2020: All you need to know about the tournament</p>
</div>
<div>
    <h2>About Tournament</h2>
    <p>
        The 2020 UEFA European Football Championship, commonly referred to as UEFA Euro 2020, or simply Euro 2020, is the 16th UEFA European Championship, the quadrennial international men's football championship of Europe organised by the Union of European Football Associations (UEFA).
        The tournament, being held in 11 cities in 11 UEFA countries, was originally scheduled from 12 June to 12 July 2020, but was postponed due to the COVID-19 pandemic in Europe and rescheduled for 11 June to 11 July 2021. It retains the name "UEFA Euro 2020". Portugal are the defending champions, having won the 2016 competition in France, and the video assistant referee (VAR) system makes its debut at the European Championship in this tournament
        UEFA President Michel Platini said in 2012 that the tournament was to be hosted in several nations as a "romantic" one-off event to celebrate the 60th "birthday" of the European Championship competition. Having the largest capacity of any of the stadiums entered for the competition, Wembley Stadium in London is scheduled to host the semi-finals and final for the second time, having done so before at the 1996 tournament in the stadium's former incarnation.
        The Stadio Olimpico in Rome was chosen to host the opening game, involving Turkey and hosts Italy. Originally to be played at 13 venues, two hosts were later removed: Brussels in December 2017 due to the abandonment of building the Eurostadium, and Dublin in April 2021 as there was no guarantee that spectators could attend. Spain also changed their host city from Bilbao to Seville to allow an audience at matches.
    </p>
</div>