
@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<div>
    <img src="https://1.bp.blogspot.com/-4iytjYvTzRw/YL49d_vJHoI/AAAAAAAAUvs/Yf8TVGJTLG4cXUjkGqnZylc5LyvOBzK9ACLcBGAsYHQ/s2048/E3SAgLsXMAAWX26.jpg" width="100%" height="100%"/>
</div>